{% extends 'samayShop/layout.html' %}

{% load static %}
{% load humanize %}

{% block title%}{{producto.nombre}}{% endblock%} 

{% block content %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__slider__content">
                            <img width="400px" class="product__big__img mt-5" src="../../media/{{producto.img}}" alt="imagen de producto">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="product__details__text">

                        {% if request.user.is_superuser %}
                            <button class='editar mb-2' data-bs-toggle="modal" data-bs-target="#exampleModal"></buttondata-bs-toggle>Editar</button>
                        {% endif %}

                        <h3>{{producto.nombre}}</h3>                       
                        <span>Código de Producto: <b>{{producto.identificador}}</b></span><br>
                        <span>Categoría: {{producto.categoría}}</span>

                        <div class="product__details__price  mb-3 mt-2">$ {{producto.precio | intcomma}}</div>

                        <div class="product__details__button mt-3 border-top pt-3">
                            <a href="{% url 'add' producto.identificador %}" class="cart-btn"><span class="icon_bag_alt"></span> Agregar al carrito</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Edición de Formulario -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Editar Producto</h4>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body productoForm">
    
                <form action="{% url 'editarProducto' producto.identificador %}" method="POST" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
                    <input class="form-control" value="{{producto.nombre}}" type="text" name="nombre" placeholder="nombre">
                    <select name="categorías" class="form-control">
                        <option value="{{producto.categoría}}">Seleccione una categoría</option>
                        {% for categoría in categorías %}
                            <option value="{{categoría}}">{{categoría}}</option>
                        {% endfor %}
                    </select>
                    <input class="form-control" type="number" name="precio" value="{{producto.precio}}" placeholder="precio" >
                    
                    <input value="{{producto.img}}" type="file" name="img" id="img"> <br>
                    <button class="btnSubmit w-100" type="submit">Actualizar</button>
                    
                </form>
            </div>
          </div>
        </div>
      </div>
   


{% endblock %}